# Python & Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
*.log
*.bak
*.swp
*.swo
/media/
/static/

# Virtual Environment
venv/
env/
*.venv

# Node.js & React
node_modules/
*.log
package-lock.json
yarn.lock
npm-debug.log
.dockerignore
.vscode/

# Build Files
build/
dist/
coverage/
*.cache
.DS_Store

# IDE & System Files
.idea/
*.iml
*.sublime-workspace
*.vscode/
Thumbs.db
